* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #360034;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: none;
}
.main-container .gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 600px;
  width: 600px;
  background-color: black;
}
.main-container .gameboard .board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#41003d, #1c0022);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  box-shadow: 5px 10px 20px #e209e2;
  width: 200px;
  height: 200px;
  position: relative;
}
.main-container .gameboard .board-cell.x,
.main-container .gameboard .board-cell.circle {
  pointer-events: none;
}
.main-container .gameboard .board-cell.x::before,
.main-container .gameboard .board-cell.x::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 180px;
  background-color: #e209e2;
}
.main-container .gameboard .board-cell.x::before {
  transform: rotate(45deg);
}
.main-container .gameboard .board-cell.x::after {
  transform: rotate(-45deg);
}
.main-container .gameboard .board-cell.circle::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #e209e2;
  border-radius: 50%;
}
.main-container .gameboard .board-cell.circle::before {
  width: 180px;
  height: 180px;
  background-color: #e209e2;
}
.main-container button {
  margin: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fa11fa;
  font-size: 18px;
  cursor: pointer;
}
.main-container button:active {
  transform: scale(0.94);
}
.main-container button:hover {
  color: white;
  transform: scale(1.1);
}

.gameboard.x .board-cell:not(.x):not(.circle):hover::before,
.gameboard.x .board-cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 180px;
  background-color: #570257;
}

.gameboard.x .board-cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.gameboard.x .board-cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.gameboard.circle .board-cell:not(.x):not(.circle):hover::before,
.gameboard.circle .board-cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #570257;
  border-radius: 50%;
}

.gameboard.circle .board-cell:not(.x):not(.circle):hover::before {
  width: 180px;
  height: 180px;
  background-color: #570257;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: none;
  z-index: 10;
  background-color: white;
  width: 600px;
  max-width: 80%;
}
.modal .modal-header {
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#41003d, #1c0022);
  color: white;
  text-shadow: 0 0 20px #fa11fa;
}
.modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-body button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #41003d;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
.modal .modal-body button:active {
  transform: scale(0.94);
}
.modal .modal-body button:hover {
  transform: scale(1.1);
  color: #64015e;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms esae-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 640px) {
  .main-container .gameboard {
    height: 300px;
    width: 300px;
  }
  .main-container .gameboard .board-cell {
    height: 100px;
    width: 100px;
  }
  .main-container .gameboard .board-cell.circle::before {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .main-container .gameboard .board-cell.x::before,
.main-container .gameboard .board-cell.x::after {
    width: 13.5px;
    height: 90px;
  }

  .gameboard.x .board-cell:not(.x):not(.circle):hover::before,
.gameboard.x .board-cell:not(.x):not(.circle):hover::after {
    width: 13.5px;
    height: 90px;
  }

  .gameboard.circle .board-cell:not(.x):not(.circle):hover::before,
.gameboard.circle .board-cell:not(.x):not(.circle):hover::after {
    content: "";
    width: 90px;
    height: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
